<div class="main-heading">
    <h1>Public Chunks</h1>
    <p class="lead">Create and Find Popular Code Chunks from around the web</p>
</div>
<div class="row">
    {{#each chunks}}
    <div class="row">
        <div class="card">

            <ul class="collapsible">
                <div class="card-image">
                    {{{editIcon user ../user _id }}}
                </div>
                <li>
                    <div class="collapsible-header">
                        <i class="fa fa-plus"></i>
                        <div class="dash-card">
                            <h5 class="dash-title">{{title}}</h5>
                            {{!-- <h6 class="dash-favorites"><i class="fas fa-heart"></i> {{favorites}}</h6> --}}
                            <h6 class="dash-lang">{{language}}</h6>
                            <div class="chip">
                                <img src="{{user.image}}" alt="user image">
                                <a href="/chunks/user/{{user._id}}">{{user.displayName}}</a>
                                <p>Created on: {{formatDate createdAt 'MMMM Do YYYY, h:mm a'}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="collapsible-body">
                        {{!-- <textarea name="body" class="body-code">{{body}}</textarea> --}}
                        <div class="card-content">
                            <p>{{body}}</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        {{else}}
        <p>No Chunks found :(</p>
        {{/each}}
    </div>